* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('/imgs/Deftones.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.container {
    position: relative;
    z-index: 2;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 30px;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-header {
    
    color: white;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: rgba(0, 123, 255, 0.2);
}

.form-control {
    width: 200px;
    transition: width 0.4s ease-in-out;
}

.form-control:focus {
    width: 300px;
    border-radius: 10px;
}

.btn {
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 10px;
    width: 100%;
}

footer {
    text-align: center;
}

ul {
    list-style: square;
    line-height: 30px;
}

a {
    color: #0ba7c6;
    text-decoration: none;
    padding: 20px;
}

th, td {
    padding: 10px;
}

.btn-info {
    background-color: #FF6500;
    border-color: #FF6500;
}

.btn-info:hover {
    background-color: #FF6500;
    border-color: #FF6500;
}

.logo {
    margin: 0 auto;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
}
